# Developer tools' files
.lite_workspace.lua

# Neutralinojs binaries and builds
/bin
/dist

# Neutralinojs client (minified)
neutralino.js

# Neutralinojs related files
.storage
*.log

# Temporary files
.tmp

# AppImage
*.AppImage
/built_appimage/

# Node JS
/node_modules/

# Misc
/squashfs-root

.yarn
/output_dir